@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GameStop</h1>
    <p>Home of Retro gaming. Come and explore our products. Please navigate to the Products tab to continue.</p>
</div>

