@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>GameStop understands that you care about your privacy and we are committed to being transparent about how we collect, use, store, and disclose your Personal Information. We don't send or collect ANY information at this time.</p>

